
*{
    margin: 0;
    font-size: 15px;
}
/* DISEÑO DE HEADER*/

header{
    background-color: #050e14;
    min-height: 150px;

}
.imagentitulo{
    float: left;
    margin-left: 8px;
}
.textotitulo h1 {
    color: bisque;
    text-align: center;
    font-size: xxx-large;
}

/*DISEÑO FOOTER*/

footer{
    background-color: #b3b3a8;
    height: 15%;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 30px;
    align-self: flex-end;
    margin-left: 290px;
    margin-top: 750px;
}
