body{
    background-color: #D1F2EF;
    font-family: "Franklin Gothic Medium";
    margin: 0 auto;
}

header{
    color:#074541;
    display: flex;
    align-items: center;
    }

header imagentitulo {
    order: 1;
    width: auto;

}
header textotitulo {
    order: 2;
}
header textotitulo h1{
    color: #091917;
}

nav ul li{
    font-family: "Franklin Gothic Medium";
    font-size: large;
    display: inline-block;
    margin-right: 20px;
    align-items: center;
}
nav ul li a{
    color:#074541;
    font-size: 20px;
}
.estiloSeccion {
    background-color: #D1F2EF;
    width: 90%;
    height: auto;
    display: flex;
    padding: 10px;
    justify-content: center;
}
Formulario{
    color: #91D8D1;
}
.Contenedorimg {
    width: 70%;
    border-radius: 15px;
    height: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.ContenedorForm {
    background: #91D8D1;
    display: flex;
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    }

.estiloimg{
    border-radius: 15px;
    }
.tabla{
    background-color: white;
    text-align: center;
    width: 100%;
    }
th,td{
    border: solid 1px black;
    padding: 10px;
}
thead{
    background-color: #074541;
    border-bottom: solid 5px #091917;
    color: white;
}


