*{
    margin: 0;
}
/* DISEÑO DE HEADER*/

header{
    background-color: #070f1d;
    min-height: 150px;

}
.imagentitulo{
    float: left;
    margin-left: 8px;

}

.textotitulo h1 {
    color: bisque;
    text-align: center;
    font-size: xxx-large;
}.tabla{
    background-color: #00d6b2;
 }